
<footer class="contact">
    <div class="contact-info">
        <div class="first-info">
            <img src="./images/logo (1).png" alt="">
            <p>5465 newyork city <br>tx united states 647474</p>
            <p>08564367896</p>
            <p>david@gmail.com</p>

            <div class="social-icon">
                <a href=""><i class='bx bxl-facebook'></i></a>
                <a href=""><i class='bx bxl-twitter'></i></a>
                <a href=""><i class='bx bxl-instagram'></i></a>
                <a href=""><i class='bx bxl-youtube'  ></i></a>
               
            </div>
        </div>
        <div class="second-info">
            <h4>SUPPORT</h4>
            <p>contact us</p>
            <p>about page</p>
            <p>size guide</p>
            <p>shopping$ return</p>
            <p>privacy</p>
        </div>
        <div class="third-info">
            <h4>SHOP</h4>
            <p>mens shop</p>
            <p>womens shopping</p>
            <p>discount</p>
            <p>free product</p>
        </div>
        <div class="fourth-info">
            <h4>COMPONY</h4>
            <p>about</p>
            <p>blog</p>
            <p>affliate</p>
            <p>login</p>
        </div>
        <div class="five">
            <h4>SUBSCRIBE</h4>
            <p>recive update, hot deals discount sent straitght in your bo</p>
            <p>recive update, hot deals discount sent straitght in your bo</p>
            <p>recive update, hot deals discount sent straitght in your box daily</p>
            <br>
            <a href="/" tabIndex="0"><img class="bn45" src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/78/Google_Play_Store_badge_EN.svg/2560px-Google_Play_Store_badge_EN.svg.png" alt="bn45"/></a>

            <a href="/" tabIndex="0"><img class="bn46" src="https://developer.apple.com/assets/elements/badges/download-on-the-app-store.svg"alt="bn45"/></a>

        </div>
    </div>

</footer>
